.row .row {
	margin-bottom: 30px;
}

.row .row:last-child {
	margin-bottom: 0;
}

.highlight {
	margin-bottom: 20px;
	font-size: 0.9em;
	background-color: #EEE;
	border-left: 3px solid #DDD;
	padding: 10px;
}

.youtube {
	border: none;
}
