<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/foundation-icons.css">
	<link rel="stylesheet" href="/css/github.css">
</head>
<body>
	<header class="row">
		<div class="large-12 columns">
			<div class="nav-bar right">
				<ul class="button-group">
					<li><a href="/" class="button">Home</a></li>
					<li><a href="/blog/" class="button">Blog</a></li>
					<li><a href="/about/" class="button">About</a></li>
				</ul>
			</div>
			<a href="/"><h1>{{ site.title }}</h1></a>
		</div>
		<hr>
	</header>
